
.color-texto-verde-oscuro{color: #229954;}
.fondo-rojo-claro{color: #B71C1C;}
.bg-cris-claro{background-color: #BDB4B2;}
.frons-1{
    font-family: 'Sancreek', cursiva;
}
.border-verde{color:#229954;}